<% content_for :head do %>
<script type="text/javascript">
	$(function() {
		$( "#admin_page_widgets_fluid" ).resizable({
			grid: [5,5],
			handles: 's',
			stop: function(event, ui) { 
	         $.ajax({
	           type: 'post', 
	           data: 'height=' + ui.size['height'] + '&id=' + '<%= @page.id %>',
	           dataType: 'script', 
	           url: '/admin/pages/set_widget_area_height'
						})
	     }
		});
	});
	
	$(function() {
		$( ".resizable" ).draggable({
			grid: [5,5],
			cursor: 'move',
			containment: 'parent',
			stop: function(event, ui) { 
				//alert(ui.position['left']);
	         $.ajax({
	         	 type: 'post', 
	           data: 'top=' + ui.position['top'] + '&left=' + ui.position['left'] + '&id=' + ui.helper.attr('id'),
	           dataType: 'script', 
	           url: '/admin/pages/position_widgets'
						})
	     }
		});
	});

	$(function() {
		$( ".resizable" ).resizable({
			grid: [5,5],		
			stop: function(event, ui) { 
				//alert(ui.size['width']);
	         $.ajax({
	         	 type: 'post', 
	           data: 'width=' + ui.size['width'] + '&height=' + ui.size['height'] + '&id=' + ui.helper.attr('id'),
	           dataType: 'script', 
	           url: '/admin/pages/position_widgets'
						})
	     }
		});
	});
	
</script>
<% end %>
<div id="admin_page_widgets_fluid" class="admin_page_widgets" style="height: <%= @page.widget_area_height %>px">
	<% @page.widgets.asc(:position).each do |widget| %>
		<div class="admin_widget resizable" id="<%= widget.id %>" style="height: <%= widget.height %>px; width: <%= widget.width %>px; position: absolute; top: <%= widget.top %>px; left: <%= widget.left %>px;">
				<%= link_to 'Edit', edit_page_widget_path(@church, @page, widget), :class => 'fancybox admin_page_widget_edit_button grey_button' %>					
			<%= render_widget(@page, 'show', widget) %>
		</div>
	<% end %>
</div>
