<h1 class="admin_header">Messages</h1>

<% @church.messages.each do |message| %>
	<div class="index_item page_index_item">
		<div class="controls">
			<%= link_to 'Delete', message_path(@church, message), :method => :delete, :confirm => 'Are you sure?' if permitted_to? :delete, :messages %>
		</div>
		<%= message.message %>
		<div class="message_details">
			<div class="message_details_item">
				Name: <%= message.name %>
			</div>
			<div class="message_details_item">
				Email: <%= message.email %>
			</div>
			<div class="message_details_item">
				Phone: <%= message.phone %>
			</div>
		</div>
	</div>
<% end %>