<h1>Listing messages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Message</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.name %></td>
    <td><%= message.email %></td>
    <td><%= message.phone %></td>
    <td><%= message.message %></td>
    <td><%= link_to 'Edit', edit_message_path(@church, message) %></td>
    <td><%= link_to 'Destroy', message_path(@church, message), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>