<div class="field">
  <%= f.label :category %><br />
	<% cat = @widget.category.id if @widget.category %>
  <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', cat) %>
</div>
<div class="field">
  <%= f.label :number_to_display %><br />
  <%= f.select :number_to_display, options_for_select([1,2,3,4,5,10,15,20], @widget.number_to_display) %>
</div>
<div class="field">
  <%= f.label :snippet_size %><br />
  <%= f.select :snippet_size, options_for_select([50,100,200,300,400,500], @widget.snippet_size) %>
</div>