<h2>Comments</h2>
<%= form_for comment, :url => path_for_comment(article, comment) do |f| %>
	<%= hidden_field_tag :article_id, article.id %>
	<%= hidden_field_tag :page_id, @page.id if @page %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="button confirm_button">
    <%= f.submit %>
  </div>
<% end %>
