<div class="admin_parish_nav_item" id="<%= church.slug %>">
	  <%= if church == @church
      link_to church.name, church_admin_path(church), :class => 'admin_parish_nav_item_header selected', :id => church.slug
    else
      link_to church.name, church_admin_path(church), :class => 'admin_parish_nav_item_header', :id => church.slug
    end
     %>
	<div class="admin_dropdown_hidden" id="admin_dropdown_hidden_<%= church.slug %>">
		<%= admin_left_nav_item('Pages', pages_path(church), :read, :pages) %>
		
		<% display_for_parish_only(church) do %>
			<%= admin_left_nav_item('People', people_path(church), :read, :people) %>
		<% end %>
		
		<% Category.all.each do |category| %>
			<%= admin_left_nav_item(category.name, category_path(church, category), :read, :articles) %>
		<% end %>
		
		<%= admin_left_nav_item('Events', events_path(church), :read, :events) %>
		
		<% display_for_parish_only(church) do %>
			<%= admin_left_nav_item('Photos', photos_path(church), :read, :photos) %>
		<% end %>
		
		<%= admin_left_nav_item('Documents', documents_path(church), :read, :documents) %>
		
		<%= admin_left_nav_item('Links', edit_nav_menu_path(church, church.main_nav), :read, :nav_menus) if church.main_nav %>
		
		<%= admin_left_nav_item('Messages', messages_path(church), :read, :messages) %>
		
		<%= admin_left_nav_item('Site Admins', users_path(church), :read, :users) %>
	</div>
</div>