<div class="admin_parish_nav_item" id="<%= institution.slug %>">
	  <%= if institution == @institution
      link_to institution.name, church_admin_path(institution), :class => 'admin_parish_nav_item_header selected', :id => institution.slug
    else
      link_to institution.name, church_admin_path(institution), :class => 'admin_parish_nav_item_header', :id => institution.slug
    end
     %>
	<div class="admin_dropdown_hidden" id="admin_dropdown_hidden_<%= institution.slug %>">
		<%= admin_left_nav_item('Pages', pages_path(institution), :read, :pages) %>
		
		<% display_for_parish_only(institution) do %>
			<%= admin_left_nav_item('People', people_path(institution), :read, :people) %>
		<% end %>
		
		<% Category.all.each do |category| %>
			<%= admin_left_nav_item(category.name, category_path(institution, category), :read, :articles) %>
		<% end %>
		
		<%= admin_left_nav_item('Events', events_path(institution), :read, :events) %>
		
		<% display_for_parish_only(institution) do %>
			<%= admin_left_nav_item('Photos', photos_path(institution), :read, :photos) %>
		<% end %>
		
		<%= admin_left_nav_item('Documents', documents_path(institution), :read, :documents) %>
		
		<%= admin_left_nav_item('Links', edit_nav_menu_path(institution, institution.main_nav), :read, :nav_menus) if institution.main_nav %>
		
		<%= admin_left_nav_item('Messages', messages_path(institution), :read, :messages) %>
		
		<%= admin_left_nav_item('Site Admins', users_path(institution), :read, :users) %>
	</div>
</div>