<div id="left_nav">
	<%= link_to 'Pages', pages_path(@church) %>
	<%= link_to 'People', people_path(@church) %>
	<%= link_to 'Articles', articles_path(@church) %>
	<%= link_to 'Events', events_path(@church) %>
	<%= link_to 'Photos', photos_path(@church) %>
	<%= link_to 'Nav Menus', nav_menus_path(@church) %>
	<%= link_to 'Messages', messages_path(@church) %>
</div>