<h1><%= @church.name %> Admin</h1>

<% permitted_to? :create, :pages do %>
	<%= link_to 'Pages', pages_path(@church), :class => 'admin_home_icon' %>
<% end %>

<% permitted_to? :create, :people do %>
	<%= link_to 'People', people_path(@church), :class => 'admin_home_icon' %>
<% end %>

<% permitted_to? :create, :articles do %>
	<%= link_to 'Articles', articles_path(@church), :class => 'admin_home_icon' %>
<% end %>

<% permitted_to? :create, :events do %>
	<%= link_to 'Events', events_path(@church), :class => 'admin_home_icon' %>
<% end %>

<% permitted_to? :create, :photos do %>
	<%= link_to 'Photos', photos_path(@church), :class => 'admin_home_icon' %>
<% end %>

<% permitted_to? :create, :documents do %>
	<%= link_to 'Documents', documents_path(@church), :class => 'admin_home_icon' %>
<% end %>

<% permitted_to? :create, :nav_menus do %>
	<%= link_to 'Links', nav_menus_path(@church), :class => 'admin_home_icon' %>
<% end %>