<h1><%= @church.name %> Admin</h1>

<div class="button new_button">
	<%= link_to 'New Page', new_page_path(@church) %>
</div>

<div class="button new_button">
	<%= link_to 'New Person', new_person_path(@church) %>
</div>

<div class="button new_button">
	<%= link_to 'New Article', new_article_path(@church) %>
</div>

<div class="button new_button">
	<%= link_to 'New Event', new_event_path(@church) %>
</div>

<div class="button new_button">
	<%= link_to 'New Photo', new_photo_path(@church) %>
</div>

<div class="button new_button">
	<%= link_to 'New Navigation Menu', new_nav_menu_path(@church) %>
</div>