<%= form_for(@page, form_action_path(@page, @institution)) do |f| %>
<%#= form_for(@page, {:url=>{:action=>"update", :institution_id=>"all-saints", :controller=>"pages"}}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :institution_id, :value => @institution.id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

	<h2 class="admin_header">Background Images</h2>	
	<div class="field">
	  <% @root.background_images.each do |background_image| %>
	    <div class="admin_page_background_image_item">
				<div class="admin_page_background_image_item_checkbox">
		    	<%= check_box_tag 'page[background_image_ids][]', background_image.id, @page.background_images.include?(background_image) %>
				</div>
	    <%= image_tag background_image.image.url(:preview) %>
	    </div>
	  <% end %>
		<div class="spacer"></div>
	</div>
	
	<div class="button confirm_button" id="admin_edit_page_submit_button">
	  <%= f.submit %>
	</div>	
<% end %>