<% content_for :head do %>
	<%= javascript_include_tag 'jquery-ui' %>
<% end %>

<h1><%= @page.name %></h1>
<%= link_to 'View page', church_page_path(@church, @page) %>

<%= render 'form' %>

<div class="button new_button inline">
	<%= link_to 'Add Text', new_page_widget_path(@church, @page, :widget_type => 'content_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Map', new_page_widget_path(@church, @page, :widget_type => 'map_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Events', new_page_widget_path(@church, @page, :widget_type => 'events_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Calendar', new_page_widget_path(@church, @page, :widget_type => 'calendar_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Profile', new_page_widget_path(@church, @page, :widget_type => 'profile_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Gallery', new_page_widget_path(@church, @page, :widget_type => 'gallery_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Articles', new_page_widget_path(@church, @page, :widget_type => 'articles_widget') %>
</div>
<div class="button new_button inline">
	<%= link_to 'Add Contact Form', new_page_widget_path(@church, @page, :widget_type => 'contact_form_widget') %>
</div>

<%= javascript_tag do %>
     $('#columnLeft').sortable(
	    {
         connectWith: ".connectedSortable",
		   	 dropOnEmpty:true, 
	       items: 'div.edit_widget',
	       scroll: true,
         update: function(){
           $.ajax({
           	 type: 'post', 
             data: $('#columnLeft').sortable('serialize') + '&id=<%= @page.id-%>' + '&column=left',
             dataType: 'script', 
             url: '/admin/pages/order_widgets'})
         }	
			})

     $('#columnRight').sortable(
	    {
         connectWith: ".connectedSortable",
		   	 dropOnEmpty:true, 
	       items: 'div.edit_widget',
	       scroll: true,
         update: function(){
           $.ajax({
           	 type: 'post', 
             data: $('#columnRight').sortable('serialize') + '&id=<%= @page.id-%>' + '&column=right',
             dataType: 'script', 
             url: '/admin/pages/order_widgets'})
         }	
			})
<% end %>
