<h1 class="admin_header"><%= @institution.name %> Pages</h1>

<% @pages.each do |page| %>
	<div class="index_item page_index_item">
		<div class="controls">
			<%= link_to 'View', church_page_path(@institution, page) if display_link? :read, :pages %>
			<%#= link_to 'View', church_page_path(@institution, page) if permitted_to? :read, :pages %>
			<%= link_to 'Edit', edit_page_path(@institution, page)  if display_link? :edit, :pages %>
			<%= link_to 'Delete', page_path(@institution, page), :method => :delete, :confirm => 'Are you sure?' if display_link? :delete, :pages %>
		</div>
		<%= display_permitted_to_link(:edit, :pages, page.name, edit_page_path(@institution, page)) %>
	</div>
<% end %>

<div class="button new_button">
	<%= link_to 'New Page', new_page_path(@institution) %>
</div>
