<%= content_for :head do %>
	<title><%= @page.title %></title>
<% end %>

<%= content_for :background_image do %>
	<%= background_image(@page) %>	
<% end %>

<%= link_to 'Download PDF', download_pdf_path %>
<!--<iframe src="/system/pdfs/4ece52186c97d95178000011/original/the_ivy_floor_plan.pdf" width="60%" height="400px"></iframe>-->

<%= fluid_or_fixed_layout(@page, 'show') %>