<h1 class="admin_header"><%= @institution.name %> Documents</h1>

<div>
	<% @institution.documents.each do |document| %>
		<div class="index_item document_index_item" id="document_<%= document.id %>">
			<div class="controls">
				<%= link_to 'View', document_path(@institution, document) if permitted_to? :read, :documents %>
				<%= link_to 'Edit', edit_document_path(@institution, document) if permitted_to? :edit, :documents %>
				<%= link_to 'Delete', document_path(@institution, document), :method => :delete, :confirm => 'Are you sure?' if permitted_to? :delete, :documents %>
			</div>
			<%= display_permitted_to_link(:edit, :documents, document.title, edit_document_path(@institution, document)) %>
		</div>
	<% end %>
</div>

<div class="button new_button">
	<%= link_to 'New Document', new_document_path(@institution) %>
</div>
