<!DOCTYPE html>
<html>
<head>
  <title>Churchapp</title>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag "jquery", "rails", "application", "nested_form" %>
  <%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body>
	<div id="background">
		<div id="background_header">
		</div>
		<div id="background_content">
		</div>
	</div>
	<div id='wrapper'>
		<div id="user_status">
			<%= link_to "#{current_user.name}: Sign out", signout_path, :id => 'signout_link' if current_user %>
		</div>
		<div id="header">
			<div id="logo">
				<%= link_to (image_tag 'sanderstead/parish_admin_logo.png'), church_admin_path %>
			</div>
			<%= render 'admin/parish_nav' if current_user %>
		</div>
		<div id="content_wrapper">
			<%= render 'layouts/flash', :flash => flash %>			
			<%= render 'admin/admin_dropdown' %>
			<div id="<%= request[:controller] %>_<%= request[:action] %>_content" class="content">
				<%= yield %>
			</div>
			<div class="spacer"></div>
		</div>
	</div>
</body>
</html>
