<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'andrew-and-jenny' %>
  <%= javascript_include_tag "jquery", "rails", "andrew-and-jenny" %>
  <%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body>
	<div id='wrapper'>
		<div id='header'>
			<div id="logo">
				<h1><%= logo %></h1>
				<div id="header_date">18th August 2012</div>
			</div>
		</div>
		<div id="top_nav_wrapper">
			<div id="top_nav_shadow_left" class="top_nav_shadow"></div>
			<div id="top_nav_shadow_right" class="top_nav_shadow"></div>
			<div id='top_nav'>
				<%= render 'layouts/top_nav' %>
			</div>		
		</div>
		<div id="<%= page_id %>" class="content <%= request[:controller] %>_<%= request[:action] %>_content <%= content_layout %>">
			<%= render 'layouts/flash', :flash => flash %>
			<%= yield :background_image %>			
			<div id="page_content">
				<%= yield %>
			</div>
		</div>
	</div>
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>	
</body>
</html>
