<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'jenandandrew' %>
  <%= javascript_include_tag "jquery", "rails", "jenandandrew" %>
  <%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body>
	<div id='wrapper'>
		<div id='header'>
			<div id="logo">
				<h1><%= logo %></h1>
			</div>
		</div>
		<div id='top_nav'>
			<%= render 'layouts/top_nav' %>
		</div>		
		<div id="<%= page_id %>" class="content <%= request[:controller] %>_<%= request[:action] %>_content <%= content_layout %>">
			<%= render 'layouts/flash', :flash => flash %>
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>	
</body>
</html>
